
/** header styling **/

.container{
  margin: 0 auto;
  height: auto;
  //removing max width removes the padding on the sides (the original site did not have it)
}

.wrapper{
  max-width: 600px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;

    @include tablet {
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    padding-top: 2%;
}
    @include desktop {
      justify-content: flex-start;
      width: 100%;
  }

}
.articles p{
  font-size: .8rem;
}

/** Shrink header on event change **/
.shrinkHeader{
  height: 40vh;
    img{
  height: 130px;
 }
  @include tablet{
    height: 20vh;
transition: all 1s;
 img{
  height: 80px;
 }
  }
}

.logo{
  padding: 10%; // I think we didn't need the 5% there

}

.loader-section{
  margin: 0 auto;
  text-align: center;
  .loader{
    display: none;
    height: 100px;
  }

}

#selection{
  width: 30%;
  margin-bottom: 2%;
  @include tablet {
     width: 100%;
  }
}